body {

    background-color: black;
}

h1 {

    color: sandybrown;
}

h3 {

    color: sandybrown;
}


#form {

    color: darkgoldenrod;
}

#content {

    background-color: olivedrab;
}


input {
    border: none;
    border-bottom: 2px solid rosybrown;
    background-color: darkgoldenrod;
}

