body {

    background-color: black;
}

h1 {

    color: sandybrown;
}

form {

    color: darkgoldenrod;
}

input {
    border: none;
    border-bottom: 2px solid rosybrown;
    background-color: darkgoldenrod;
}

